In [1]:
#Import the Library
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('insurance_pre.csv')
data

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
# Convert Categorical data to Numerical Data
# It's a Nominal Data-One Hand Encoding
data=pd.get_dummies(data,drop_first=True)
data

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [4]:
print(data.columns)

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [5]:
#Independent Variable Input
independent=data[['age','sex_male','bmi','children','smoker_yes']]
independent

      age  sex_male     bmi  children  smoker_yes
0      19         0  27.900         0           1
1      18         1  33.770         1           0
2      28         1  33.000         3           0
3      33         1  22.705         0           0
4      32         1  28.880         0           0
...   ...       ...     ...       ...         ...
1333   50         1  30.970         3           0
1334   18         0  31.920         0           0
1335   18         0  36.850         0           0
1336   21         0  25.800         0           0
1337   61         0  29.070         0           1

[1338 rows x 5 columns]

In [6]:
#Dependent Variable Output
dependent=data[["charges"]]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [7]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
param_grid={'criterion':['mse','mae','friedman_mse'],'max_features':['auto','sqrt','log2']}

grid=GridSearchCV(DecisionTreeRegressor(),param_grid,refit=True,verbose=3,n_jobs=1)
grid.fit(independent,dependent)

Fitting 5 folds for each of 9 candidates, totalling 45 fits

C:\anaconda\lib\site-packages\sklearn\tree\_classes.py:363: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  FutureWarning,
C:\anaconda\lib\site-packages\sklearn\tree\_classes.py:363: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  FutureWarning,

[CV 1/5] END ..criterion=mse, max_features=auto;, score=0.724 total time=   0.2s
[CV 2/5] END ..criterion=mse, max_features=auto;, score=0.621 total time=   0.0s
[CV 3/5] END ..criterion=mse, max_features=auto;, score=0.725 total time=   0.0s
[CV 4/5] END ..criterion=mse, max_features=auto;, score=0.703 total time=   0.0s
[CV 5/5] END ..criterion=mse, max_features=auto;, score=0.656 total time=   0.0s

C:\anaconda\lib\site-packages\sklearn\tree\_classes.py:363: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  FutureWarning,
C:\anaconda\lib\site-packages\sklearn\tree\_classes.py:363: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  FutureWarning,
C:\anaconda\lib\site-packages\sklearn\tree\_classes.py:363: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  FutureWarning,
C:\anaconda\lib\site-packages\sklearn\tree\_classes.py:363: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  FutureWarning,
C:\anaconda\lib\site-packages\sklearn\tree\_classes.py:363: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  FutureWarning,
C:\anaconda\lib\site-packages\sklearn\tree\_classes.py:363: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  FutureWarning,
C:\anaconda\lib\site-packages\sklearn\tree\_classes.py:363: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  FutureWarning,
C:\anaconda\lib\site-packages\sklearn\tree\_classes.py:363: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  FutureWarning,
C:\anaconda\lib\site-packages\sklearn\tree\_classes.py:363: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  FutureWarning,

[CV 1/5] END ..criterion=mse, max_features=sqrt;, score=0.620 total time=   0.0s
[CV 2/5] END ..criterion=mse, max_features=sqrt;, score=0.550 total time=   0.0s
[CV 3/5] END ..criterion=mse, max_features=sqrt;, score=0.697 total time=   0.0s
[CV 4/5] END ..criterion=mse, max_features=sqrt;, score=0.639 total time=   0.0s
[CV 5/5] END ..criterion=mse, max_features=sqrt;, score=0.701 total time=   0.0s
[CV 1/5] END ..criterion=mse, max_features=log2;, score=0.791 total time=   0.0s
[CV 2/5] END ..criterion=mse, max_features=log2;, score=0.599 total time=   0.0s

C:\anaconda\lib\site-packages\sklearn\tree\_classes.py:363: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  FutureWarning,
C:\anaconda\lib\site-packages\sklearn\tree\_classes.py:363: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  FutureWarning,
C:\anaconda\lib\site-packages\sklearn\tree\_classes.py:363: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  FutureWarning,

[CV 3/5] END ..criterion=mse, max_features=log2;, score=0.747 total time=   0.0s
[CV 4/5] END ..criterion=mse, max_features=log2;, score=0.723 total time=   0.0s
[CV 5/5] END ..criterion=mse, max_features=log2;, score=0.673 total time=   0.0s

C:\anaconda\lib\site-packages\sklearn\tree\_classes.py:363: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  FutureWarning,
C:\anaconda\lib\site-packages\sklearn\tree\_classes.py:370: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  FutureWarning,

[CV 1/5] END ..criterion=mae, max_features=auto;, score=0.738 total time=   0.1s
[CV 2/5] END ..criterion=mae, max_features=auto;, score=0.618 total time=   0.0s

C:\anaconda\lib\site-packages\sklearn\tree\_classes.py:370: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  FutureWarning,
C:\anaconda\lib\site-packages\sklearn\tree\_classes.py:370: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  FutureWarning,

[CV 3/5] END ..criterion=mae, max_features=auto;, score=0.737 total time=   0.1s
[CV 4/5] END ..criterion=mae, max_features=auto;, score=0.721 total time=   0.0s

C:\anaconda\lib\site-packages\sklearn\tree\_classes.py:370: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  FutureWarning,
C:\anaconda\lib\site-packages\sklearn\tree\_classes.py:370: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  FutureWarning,

[CV 5/5] END ..criterion=mae, max_features=auto;, score=0.734 total time=   0.1s
[CV 1/5] END ..criterion=mae, max_features=sqrt;, score=0.768 total time=   0.0s
[CV 2/5] END ..criterion=mae, max_features=sqrt;, score=0.580 total time=   0.0s

C:\anaconda\lib\site-packages\sklearn\tree\_classes.py:370: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  FutureWarning,
C:\anaconda\lib\site-packages\sklearn\tree\_classes.py:370: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  FutureWarning,
C:\anaconda\lib\site-packages\sklearn\tree\_classes.py:370: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  FutureWarning,

[CV 3/5] END ..criterion=mae, max_features=sqrt;, score=0.696 total time=   0.0s
[CV 4/5] END ..criterion=mae, max_features=sqrt;, score=0.729 total time=   0.0s
[CV 5/5] END ..criterion=mae, max_features=sqrt;, score=0.702 total time=   0.0s

C:\anaconda\lib\site-packages\sklearn\tree\_classes.py:370: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  FutureWarning,
C:\anaconda\lib\site-packages\sklearn\tree\_classes.py:370: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  FutureWarning,
C:\anaconda\lib\site-packages\sklearn\tree\_classes.py:370: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  FutureWarning,

[CV 1/5] END ..criterion=mae, max_features=log2;, score=0.775 total time=   0.0s
[CV 2/5] END ..criterion=mae, max_features=log2;, score=0.613 total time=   0.0s
[CV 3/5] END ..criterion=mae, max_features=log2;, score=0.616 total time=   0.0s

C:\anaconda\lib\site-packages\sklearn\tree\_classes.py:370: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  FutureWarning,
C:\anaconda\lib\site-packages\sklearn\tree\_classes.py:370: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  FutureWarning,
C:\anaconda\lib\site-packages\sklearn\tree\_classes.py:370: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  FutureWarning,

[CV 4/5] END ..criterion=mae, max_features=log2;, score=0.693 total time=   0.0s
[CV 5/5] END ..criterion=mae, max_features=log2;, score=0.746 total time=   0.0s
[CV 1/5] END criterion=friedman_mse, max_features=auto;, score=0.729 total time=   0.0s
[CV 2/5] END criterion=friedman_mse, max_features=auto;, score=0.648 total time=   0.0s
[CV 3/5] END criterion=friedman_mse, max_features=auto;, score=0.721 total time=   0.0s

C:\anaconda\lib\site-packages\sklearn\tree\_classes.py:370: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  FutureWarning,

[CV 4/5] END criterion=friedman_mse, max_features=auto;, score=0.701 total time=   0.0s
[CV 5/5] END criterion=friedman_mse, max_features=auto;, score=0.678 total time=   0.0s
[CV 1/5] END criterion=friedman_mse, max_features=sqrt;, score=0.527 total time=   0.0s
[CV 2/5] END criterion=friedman_mse, max_features=sqrt;, score=0.658 total time=   0.0s
[CV 3/5] END criterion=friedman_mse, max_features=sqrt;, score=0.720 total time=   0.0s
[CV 4/5] END criterion=friedman_mse, max_features=sqrt;, score=0.743 total time=   0.0s
[CV 5/5] END criterion=friedman_mse, max_features=sqrt;, score=0.737 total time=   0.0s
[CV 1/5] END criterion=friedman_mse, max_features=log2;, score=0.683 total time=   0.0s
[CV 2/5] END criterion=friedman_mse, max_features=log2;, score=0.655 total time=   0.0s
[CV 3/5] END criterion=friedman_mse, max_features=log2;, score=0.646 total time=   0.0s
[CV 4/5] END criterion=friedman_mse, max_features=log2;, score=0.732 total time=   0.0s
[CV 5/5] END criterion=friedman_mse, max_features=log2;, score=0.678 total time=   0.0s

C:\anaconda\lib\site-packages\sklearn\tree\_classes.py:370: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  FutureWarning,

GridSearchCV(estimator=DecisionTreeRegressor(), n_jobs=1,
             param_grid={'criterion': ['mse', 'mae', 'friedman_mse'],
                         'max_features': ['auto', 'sqrt', 'log2']},
             verbose=3)

In [8]:
#print best parameters
re=grid.cv_results_
print("R Score value for best parameter{}:".format(grid.best_params_))

R Score value for best parameter{'criterion': 'mae', 'max_features': 'auto'}:

In [9]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.078762,0.081678,0.014279,0.008934,mse,auto,"{'criterion': 'mse', 'max_features': 'auto'}",0.723527,0.620781,0.724967,0.703334,0.656461,0.685814,0.040873,6
1,0.021365,0.009450,0.012900,0.010638,mse,sqrt,"{'criterion': 'mse', 'max_features': 'sqrt'}",0.620374,0.550342,0.696886,0.639086,0.700837,0.641505,0.055408,9
2,0.040629,0.030679,0.009448,0.005028,mse,log2,"{'criterion': 'mse', 'max_features': 'log2'}",0.790967,0.599479,0.746826,0.722636,0.672670,0.706516,0.065756,2
3,0.154007,0.018875,0.005725,0.007061,mae,auto,"{'criterion': 'mae', 'max_features': 'auto'}",0.738263,0.618240,0.736977,0.720771,0.733706,0.709591,0.046095,1
4,0.082223,0.017124,0.012502,0.006251,mae,sqrt,"{'criterion': 'mae', 'max_features': 'sqrt'}",0.767749,0.579895,0.695506,0.729340,0.702015,0.694901,0.062881,4
5,0.090146,0.012507,0.005184,0.006205,mae,log2,"{'criterion': 'mae', 'max_features': 'log2'}",0.775139,0.613392,0.616430,0.692755,0.745578,0.688659,0.065753,5
6,0.024471,0.007286,0.008848,0.007288,friedman_mse,auto,"{'criterion': 'friedman_mse', 'max_features': ...",0.729298,0.647593,0.721491,0.701373,0.678264,0.695604,0.029814,3
7,0.017992,0.004035,0.007850,0.006988,friedman_mse,sqrt,"{'criterion': 'friedman_mse', 'max_features': ...",0.527440,0.657593,0.720290,0.743475,0.736530,0.677066,0.080724,8
8,0.016395,0.007976,0.013572,0.002533,friedman_mse,log2,"{'criterion': 'friedman_mse', 'max_features': ...",0.683426,0.655180,0.646362,0.732398,0.677763,0.679026,0.030017,7

In [10]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:20
BMI:22
Children:2
Sex Male 0 or 1:1
Smoker Yes 0 or 1:1

In [11]:
FuturePrediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])

print("FuturePrediction={}:".format(FuturePrediction))

FuturePrediction=[13747.87235]:

C:\anaconda\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  "X does not have valid feature names, but"